xsd/BPSMaster_1p0_urn_un_unece_uncefact_data_Standard_QualifiedDataType_101.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:qdt="urn:un:unece:uncefact:data:Standard:QualifiedDataType:101"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:clm68339="urn:un:unece:uncefact:codelist:standard:UNECE:DangerousGoodsPackingCode:D16B"
    xmlns:clm68273="urn:un:unece:uncefact:codelist:standard:UNECE:DangerousGoodsRegulationCode:D16B"
    xmlns:clm64017CommitmentLevelCode="urn:un:unece:uncefact:codelist:standard:UNECE:DeliveryPlanCommitmentLevelCode:D16B"
    xmlns:clm61001="urn:un:unece:uncefact:codelist:standard:UNECE:DocumentNameCode:D16B"
    xmlns:clm68155="urn:un:unece:uncefact:codelist:standard:UNECE:EquipmentSizeTypeDescriptionCode:D16B"
    xmlns:clm6TDED7357="urn:un:unece:uncefact:codelist:standard:UNECE:GoodsTypeCode:D16B"
    xmlns:clm6Recommendation20Volume="urn:un:unece:uncefact:codelist:standard:UNECE:MeasurementUnitCommonCodeVolume:4"
    xmlns:clm6Recommendation20Weight="urn:un:unece:uncefact:codelist:standard:UNECE:MeasurementUnitCommonCodeWeight:4"
    xmlns:clm67065="urn:un:unece:uncefact:codelist:standard:UNECE:PackageTypeCode:2006"
    xmlns:clm67075="urn:un:unece:uncefact:codelist:standard:UNECE:PackagingLevelCode:D16B"
    xmlns:clm63035="urn:un:unece:uncefact:codelist:standard:UNECE:PartyRoleCode:D16B"
    xmlns:clm64517="urn:un:unece:uncefact:codelist:standard:UNECE:SealConditionCode:D16B"
    xmlns:clm69303="urn:un:unece:uncefact:codelist:standard:UNECE:SealingPartyRoleCode:D16B"
    xmlns:clm64405="urn:un:unece:uncefact:codelist:standard:UNECE:StatusCode:D16B"
    xmlns:clm62379="urn:un:unece:uncefact:codelist:standard:UNECE:TimePointFormatCode:D16B"
    xmlns:clm68169="urn:un:unece:uncefact:codelist:standard:UNECE:TransportEquipmentFullnessCode:D16B"
    xmlns:clm68249b="urn:un:unece:uncefact:codelist:standard:UNECE:TransportEquipmentOperationalStatusCode:D16B"
    xmlns:clm6Recommendation19="urn:un:unece:uncefact:codelist:standard:UNECE:TransportModeCode:2"
    xmlns:clm64237TransportPaymentArrangementCode="urn:un:unece:uncefact:codelist:standard:UNECE:TransportPaymentArrangementCode:D16B"
    xmlns:clm6Recommendation24="urn:un:unece:uncefact:codelist:standard:UNECE:TransportStatusCode:4"
    xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:21"
    xmlns:ids5ISO316612A="urn:un:unece:uncefact:identifierlist:standard:ISO:ISOTwo-letterCountryCode:SecondEdition2006"
    targetNamespace="urn:un:unece:uncefact:data:Standard:QualifiedDataType:101"
    elementFormDefault="qualified"
    version="101.0">
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:DangerousGoodsPackingCode:D16B" schemaLocation="BPSMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_DangerousGoodsPackingCode_D16B.xsd"/>
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:DangerousGoodsRegulationCode:D16B" schemaLocation="BPSMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_DangerousGoodsRegulationCode_D16B.xsd"/>
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:DeliveryPlanCommitmentLevelCode:D16B" schemaLocation="BPSMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_DeliveryPlanCommitmentLevelCode_D16B.xsd"/>
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:DocumentNameCode:D16B" schemaLocation="BPSMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_DocumentNameCode_D16B.xsd"/>
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:EquipmentSizeTypeDescriptionCode:D16B" schemaLocation="BPSMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_EquipmentSizeTypeDescriptionCode_D16B.xsd"/>
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:GoodsTypeCode:D16B" schemaLocation="BPSMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_GoodsTypeCode_D16B.xsd"/>
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:MeasurementUnitCommonCodeVolume:4" schemaLocation="BPSMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_MeasurementUnitCommonCodeVolume_4.xsd"/>
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:MeasurementUnitCommonCodeWeight:4" schemaLocation="BPSMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_MeasurementUnitCommonCodeWeight_4.xsd"/>
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:PackageTypeCode:2006" schemaLocation="BPSMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_PackageTypeCode_2006.xsd"/>
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:PackagingLevelCode:D16B" schemaLocation="BPSMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_PackagingLevelCode_D16B.xsd"/>
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:PartyRoleCode:D16B" schemaLocation="BPSMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_PartyRoleCode_D16B.xsd"/>
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:SealConditionCode:D16B" schemaLocation="BPSMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_SealConditionCode_D16B.xsd"/>
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:SealingPartyRoleCode:D16B" schemaLocation="BPSMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_SealingPartyRoleCode_D16B.xsd"/>
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:StatusCode:D16B" schemaLocation="BPSMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_StatusCode_D16B.xsd"/>
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:TimePointFormatCode:D16B" schemaLocation="BPSMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_TimePointFormatCode_D16B.xsd"/>
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:TransportEquipmentFullnessCode:D16B" schemaLocation="BPSMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_TransportEquipmentFullnessCode_D16B.xsd"/>
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:TransportEquipmentOperationalStatusCode:D16B" schemaLocation="BPSMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_TransportEquipmentOperationalStatusCode_D16B.xsd"/>
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:TransportModeCode:2" schemaLocation="BPSMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_TransportModeCode_2.xsd"/>
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:TransportPaymentArrangementCode:D16B" schemaLocation="BPSMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_TransportPaymentArrangementCode_D16B.xsd"/>
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:TransportStatusCode:4" schemaLocation="BPSMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_TransportStatusCode_4.xsd"/>
  <xs:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:21" schemaLocation="BPSMaster_1p0_urn_un_unece_uncefact_data_standard_UnqualifiedDataType_21.xsd"/>
  <xs:import namespace="urn:un:unece:uncefact:identifierlist:standard:ISO:ISOTwo-letterCountryCode:SecondEdition2006" schemaLocation="BPSMaster_1p0_urn_un_unece_uncefact_identifierlist_standard_ISO_ISOTwo-letterCountryCode_SecondEdition2006.xsd"/>
  <xs:simpleType name="CommitmentLevelCodeListAgencyIDContentType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CommitmentLevelCodeType">
    <xs:simpleContent>
      <xs:extension base="clm64017CommitmentLevelCode:DeliveryPlanCommitmentLevelCodeContentType">
        <xs:attribute name="listID" type="xs:token" fixed="4017_CommitmentLevelCode"/>
        <xs:attribute name="listAgencyID" type="qdt:CommitmentLevelCodeListAgencyIDContentType" fixed="6"/>
        <xs:attribute name="listVersionID" type="xs:token" fixed="D16B"/>
        <xs:attribute name="listURI" type="xs:anyURI"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="CountryIDSchemeAgencyIDContentType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CountryIDType">
    <xs:simpleContent>
      <xs:extension base="ids5ISO316612A:ISOTwoletterCountryCodeContentType">
        <xs:attribute name="schemeID" type="xs:token"/>
        <xs:attribute name="schemeAgencyID" type="qdt:CountryIDSchemeAgencyIDContentType"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="DangerousGoodsPackagingLevelCodeListAgencyIDContentType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DangerousGoodsPackagingLevelCodeType">
    <xs:simpleContent>
      <xs:extension base="clm68339:DangerousGoodsPackingCodeContentType">
        <xs:attribute name="listID" type="xs:token" fixed="8339"/>
        <xs:attribute name="listAgencyID" type="qdt:DangerousGoodsPackagingLevelCodeListAgencyIDContentType" fixed="6"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="DangerousGoodsRegulationCodeListAgencyIDContentType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DangerousGoodsRegulationCodeType">
    <xs:simpleContent>
      <xs:extension base="clm68273:DangerousGoodsRegulationCodeContentType">
        <xs:attribute name="listID" type="xs:token" fixed="8273"/>
        <xs:attribute name="listAgencyID" type="qdt:DangerousGoodsRegulationCodeListAgencyIDContentType" fixed="6"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="DocumentCodeListAgencyIDContentType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DocumentCodeType">
    <xs:simpleContent>
      <xs:extension base="clm61001:DocumentNameCodeContentType">
        <xs:attribute name="listID" type="xs:token" fixed="1001"/>
        <xs:attribute name="listAgencyID" type="qdt:DocumentCodeListAgencyIDContentType" fixed="6"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="FormattedDateTimeType">
    <xs:sequence>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="format" type="clm62379:TimePointFormatCodeContentType"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="clm6TDED7357:GoodsTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" fixed="TDED 7357">
          <xs:annotation>
            <xs:documentation source="Remark">UNCL 7357 HS Code ?+? digits</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listAgencyID" type="xs:token" fixed="6"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="LogisticsStatusCodeListAgencyIDContentType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="LogisticsStatusCodeType">
    <xs:simpleContent>
      <xs:extension base="clm6Recommendation24:TransportStatusCodeContentType">
        <xs:attribute name="listID" type="xs:token" fixed="Recommendation 24"/>
        <xs:attribute name="listAgencyID" type="qdt:LogisticsStatusCodeListAgencyIDContentType" fixed="6"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="PackageTypeCodeListAgencyIDContentType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PackageTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="clm67065:PackageTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" fixed="7065"/>
        <xs:attribute name="listAgencyID" type="qdt:PackageTypeCodeListAgencyIDContentType" fixed="6"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="PackagingLevelCodeListAgencyIDContentType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PackagingLevelCodeType">
    <xs:simpleContent>
      <xs:extension base="clm67075:PackagingLevelCodeContentType">
        <xs:attribute name="listID" type="xs:token" fixed="7075"/>
        <xs:attribute name="listAgencyID" type="qdt:PackagingLevelCodeListAgencyIDContentType" fixed="6"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="PartyRoleCodeListAgencyIDContentType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PartyRoleCodeType">
    <xs:simpleContent>
      <xs:extension base="clm63035:PartyRoleCodeContentType">
        <xs:attribute name="listID" type="xs:token" fixed="3035"/>
        <xs:attribute name="listAgencyID" type="qdt:PartyRoleCodeListAgencyIDContentType" fixed="6"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="SealConditionCodeListAgencyIDContentType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SealConditionCodeType">
    <xs:simpleContent>
      <xs:extension base="clm64517:SealConditionCodeContentType">
        <xs:attribute name="listID" type="xs:token" fixed="4517"/>
        <xs:attribute name="listAgencyID" type="qdt:SealConditionCodeListAgencyIDContentType" fixed="6"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="SealingPartyRoleCodeListAgencyIDContentType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SealingPartyRoleCodeType">
    <xs:simpleContent>
      <xs:extension base="clm69303:SealingPartyRoleCodeContentType">
        <xs:attribute name="listID" type="xs:token" fixed="9303"/>
        <xs:attribute name="listAgencyID" type="qdt:SealingPartyRoleCodeListAgencyIDContentType" fixed="6"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="StatusCodeListAgencyIDContentType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="StatusCodeType">
    <xs:simpleContent>
      <xs:extension base="clm64405:StatusCodeContentType">
        <xs:attribute name="listID" type="xs:token" fixed="4405"/>
        <xs:attribute name="listAgencyID" type="qdt:StatusCodeListAgencyIDContentType" fixed="6"/>
        <xs:attribute name="listVersionID" type="xs:token" fixed="D16B"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="listURI" type="xs:anyURI"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="TransportEquipmentFullnessCodeListAgencyIDContentType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TransportEquipmentFullnessCodeType">
    <xs:simpleContent>
      <xs:extension base="clm68169:TransportEquipmentFullnessCodeContentType">
        <xs:attribute name="listID" type="xs:token" fixed="8169"/>
        <xs:attribute name="listAgencyID" type="qdt:TransportEquipmentFullnessCodeListAgencyIDContentType" fixed="6"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="TransportEquipmentOperationalStatusCodeListAgencyIDContentType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TransportEquipmentOperationalStatusCodeType">
    <xs:simpleContent>
      <xs:extension base="clm68249b:TransportEquipmentOperationalStatusCodeContentType">
        <xs:attribute name="listID" type="xs:token" fixed="8249b"/>
        <xs:attribute name="listAgencyID" type="qdt:TransportEquipmentOperationalStatusCodeListAgencyIDContentType" fixed="6"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="TransportEquipmentSizeTypeCodeListAgencyIDContentType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TransportEquipmentSizeTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="clm68155:EquipmentSizeTypeDescriptionCodeContentType">
        <xs:attribute name="listID" type="xs:token" fixed="8155">
          <xs:annotation>
            <xs:documentation source="Remark">UNCL 8155 but should use ISO 6346?</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listAgencyID" type="qdt:TransportEquipmentSizeTypeCodeListAgencyIDContentType" fixed="6"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="TransportModeCodeListAgencyIDContentType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TransportModeCodeType">
    <xs:simpleContent>
      <xs:extension base="clm6Recommendation19:TransportModeCodeContentType">
        <xs:attribute name="listID" type="xs:token" fixed="Recommendation 19"/>
        <xs:attribute name="listAgencyID" type="qdt:TransportModeCodeListAgencyIDContentType" fixed="6"/>
        <xs:attribute name="listVersionID" type="xs:token" fixed="2"/>
        <xs:attribute name="name" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="TransportServicePaymentArrangementCodeListAgencyIDContentType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TransportServicePaymentArrangementCodeType">
    <xs:simpleContent>
      <xs:extension base="clm64237TransportPaymentArrangementCode:TransportPaymentArrangementCodeContentType">
        <xs:attribute name="listID" type="xs:token" fixed="4237_TransportPaymentArrangementCode"/>
        <xs:attribute name="listAgencyID" type="qdt:TransportServicePaymentArrangementCodeListAgencyIDContentType" fixed="6"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VolumeUnitMeasureType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="unitCode" type="clm6Recommendation20Volume:MeasurementUnitCommonCodeVolumeContentType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="WeightUnitMeasureType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="unitCode" type="clm6Recommendation20Weight:MeasurementUnitCommonCodeWeightContentType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
