xsd/SELISPDES_2p0_urn_un_unece_uncefact_data_standard_ReusableAggregateBusinessInformationEntity_101.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ram="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:101"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:qdt="urn:un:unece:uncefact:data:Standard:QualifiedDataType:101"
    xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:21"
    xmlns:gefeg="http://www.gefeg.com/public"
    targetNamespace="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:101"
    elementFormDefault="qualified"
    version="101.0">
  <xsd:import namespace="urn:un:unece:uncefact:data:Standard:QualifiedDataType:101" schemaLocation="SELISPDES_2p0_urn_un_unece_uncefact_data_Standard_QualifiedDataType_101.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:21" schemaLocation="SELISPDES_2p0_urn_un_unece_uncefact_data_standard_UnqualifiedDataType_21.xsd"/>
  <xsd:complexType name="CrossBorderCustomsValuationType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Cross-Border Customs Valuation</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="AddedAdjustmentAmount" type="udt:AmountType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Added Adjustment Amount</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DeductedAdjustmentAmount" type="udt:AmountType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Deducted Adjustment Amount</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AddedAdjustmentPercent" type="udt:PercentType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Added Adjustment Percent</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DeductedAdjustmentPercent" type="udt:PercentType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Deducted Adjustment Percent</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MethodCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Method Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrossBorderRegulatoryProcedureType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Cross-Border Regulatory Procedure</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ImportCustomsOfficeSpecifiedLogisticsLocation" type="ram:LogisticsLocationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Import Customs Office Location</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExportCustomsOfficeSpecifiedLogisticsLocation" type="ram:LogisticsLocationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Export Customs Office Location</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExchangedDeclarationType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Exchanged Declaration</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TypeCode" type="qdt:DocumentCodeType">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Type Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProcedureCode" type="udt:CodeType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Procedure Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CustomsValueSpecifiedAmount" type="udt:AmountType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Customs Value Amount</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StatisticalValueSpecifiedAmount" type="udt:AmountType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Statistical Value Amount</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrencyExchangeRate" type="udt:RateType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Currency Exchange Rate</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SpecificCircumstanceCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Specific Circumstance Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DeclarantTradeParty" type="ram:TradePartyType">
        <xsd:annotation/>
      </xsd:element>
      <xsd:element name="ApplicableCrossBorderCustomsValuation" type="ram:CrossBorderCustomsValuationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Cross-Border Customs Valuation</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PreviousReferencedDocument" type="ram:ReferencedDocumentType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Previous Referenced Document</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PrincipalAssociatedTradeParty" type="ram:TradePartyType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Associated Principal Party</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AdditionalStatementNote" type="ram:NoteType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Additional Statement</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExchangedDocumentType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Exchanged Document</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="TypeCode" type="qdt:DocumentCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Type Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IssueDateTime" type="udt:DateTimeType">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Issue Date Time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IssueLogisticsLocation" type="ram:LogisticsLocationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Issue Location</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IssuerTradeParty" type="ram:TradePartyType">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Issuer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GovernmentRegistrationType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Government Registration</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TypeCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Type Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CountryID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Country Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ValiditySpecifiedPeriod" type="ram:SpecifiedPeriodType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Validity Period</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HeaderTradeAgreementType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Header Trade Agreement</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="SellerTradeParty" type="ram:TradePartyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Seller</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BuyerTradeParty" type="ram:TradePartyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Buyer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SellerOrderReferencedDocument" type="ram:ReferencedDocumentType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Seller Order Document</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ApplicableCrossBorderRegulatoryProcedure" type="ram:CrossBorderRegulatoryProcedureType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Cross Border Regulatory Procedure</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HeaderTradeDeliveryType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Header Trade Delivery</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="FormattedPickUpAvailabilityDateTime" type="qdt:FormattedDateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Pick-Up Availability Date Time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ShipToTradeParty" type="ram:TradePartyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Ship To Party</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ShipFromTradeParty" type="ram:TradePartyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Ship From Party</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ActualDespatchSupplyChainEvent" type="ram:SupplyChainEventType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Actual Despatch Event</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FinalDestinationTradeCountry" type="ram:TradeCountryType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Final Destination Country</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HeaderTradeSettlementType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Header Trade Settlement</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DuePayableAmount" type="udt:AmountType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Due Payable Amount</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="InvoiceReferencedDocument" type="ram:ReferencedDocumentType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Invoice Document</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LineTradeAgreementType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Line Trade Agreement</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="GrossPriceProductTradePrice" type="ram:TradePriceType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Product Gross Price</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LineTradeDeliveryType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Line Trade Delivery</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  <xsd:complexType name="LogisticsLocationType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Logistics Location</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CountryID" type="qdt:CountryIDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Country Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LogisticsPackageType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Logistics Package</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ItemQuantity" type="udt:QuantityType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Item Quantity</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LevelCode" type="qdt:PackagingLevelCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Level Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TypeCode" type="qdt:PackageTypeCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Type Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Type" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Type Text</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LogisticsSealType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Logistics Seal</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ConditionCode" type="qdt:SealConditionCodeType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Condition Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SealingPartyRoleCode" type="qdt:SealingPartyRoleCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Sealing Party Role Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LogisticsShippingMarksType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Logistics Shipping Marks</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Marking" type="udt:TextType">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Marking Text</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LogisticsTransportEquipmentType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Logistics Transport Equipment</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GrossWeightMeasure" type="qdt:WeightUnitMeasureType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Gross Weight</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TareWeightMeasure" type="qdt:WeightUnitMeasureType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Tare Weight</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CategoryCode" type="qdt:TransportEquipmentCategoryCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Category Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CharacteristicCode" type="qdt:TransportEquipmentSizeTypeCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Size/Type Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UsedCapacityCode" type="qdt:TransportEquipmentFullnessCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Full/Empty Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AffixedLogisticsSeal" type="ram:LogisticsSealType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Affixed Seal</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LogisticsTransportMeansType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Logistics Transport Means</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ISPSSecurityLevelCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">ISPS Security Level Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RegistrationTradeCountry" type="ram:TradeCountryType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Registration Country</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LogisticsTransportMovementType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Logistics Transport Movement</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ModeCode" type="qdt:TransportModeCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Mode Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StatusCode" type="qdt:StatusCodeType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Status Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LoadingTransportEvent" type="ram:TransportEventType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Loading Event</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UnloadingTransportEvent" type="ram:TransportEventType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Unloading Event</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ArrivalTransportEvent" type="ram:TransportEventType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Arrival Event</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FirstArrivalTransportEvent" type="ram:TransportEventType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">First Arrival Event</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DepartureTransportEvent" type="ram:TransportEventType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Departure Event</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UsedLogisticsTransportMeans" type="ram:LogisticsTransportMeansType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Used Transport Means</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ItineraryTransportRoute" type="ram:TransportRouteType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Itinerary Route</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CarriedMaterialGoodsCharacteristic" type="ram:MaterialGoodsCharacteristicType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Carried Goods Characteristic</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MaterialGoodsCharacteristicType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Material Goods Characteristic</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Description" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Description</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MeasurementType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Measurement</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ActualMeasure" type="qdt:UnitMeasureType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Actual Measure</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NoteType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Note</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  <xsd:complexType name="ProductClassificationType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Product Classification</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="SystemID" type="udt:IDType">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">System ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ClassCode" type="udt:CodeType">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Class Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReferencedDocumentType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Referenced Document</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FormattedIssueDateTime" type="qdt:FormattedDateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Formatted Issue Date Time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReferencedLogisticsTransportEquipmentType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Referenced Logistics Transport Equipment</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReferencedSupplyChainConsignmentItemType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Referenced Supply Chain Consignment Item</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="SequenceNumeric" type="udt:NumericType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Sequence Number</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TradeLineItemQuantity" type="udt:QuantityType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Trade Line Item Quantity</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TransportLogisticsPackage" type="ram:LogisticsPackageType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Transport Package</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IncludedSupplyChainTradeLineItem" type="ram:SupplyChainTradeLineItemType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Trade Line Item</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NatureIdentificationTransportCargo" type="ram:TransportCargoType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Cargo Nature Identification</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PhysicalLogisticsShippingMarks" type="ram:LogisticsShippingMarksType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Shipping Marks</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AssociatedReferencedLogisticsTransportEquipment" type="ram:ReferencedLogisticsTransportEquipmentType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Associated Transport Equipment</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReferencedSupplyChainConsignmentType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Referenced Supply Chain Consignment</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GrossWeightMeasure" type="qdt:WeightUnitMeasureType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Gross Weight</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NetWeightMeasure" type="qdt:WeightUnitMeasureType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Net Weight</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GrossVolumeMeasure" type="qdt:VolumeUnitMeasureType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Gross Volume</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ConsignmentItemQuantity" type="udt:QuantityType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Consignment Item Quantity</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CarrierAcceptanceDateTime" type="qdt:FormattedDateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Carrier Acceptance Date Time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CustomsID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Customs ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IncludedReferencedSupplyChainConsignmentItem" type="ram:ReferencedSupplyChainConsignmentItemType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Included Consignment Item</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ConsignorTradeParty" type="ram:TradePartyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Consignor</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ConsigneeTradeParty" type="ram:TradePartyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Consignee</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DespatchTradeParty" type="ram:TradePartyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Despatch Party</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DeliveryTradeParty" type="ram:TradePartyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Delivery Party</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NotifiedTradeParty" type="ram:TradePartyType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Notified Party</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CarrierTradeParty" type="ram:TradePartyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Carrier</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RelatedSupplyChainTradeTransaction" type="ram:SupplyChainTradeTransactionType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Trade Transaction</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TransportLogisticsPackage" type="ram:LogisticsPackageType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Transport Package</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VanningTransportEvent" type="ram:TransportEventType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Vanning Event</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CarrierAcceptanceLogisticsLocation" type="ram:LogisticsLocationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Carrier Acceptance Location</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TransportContractReferencedDocument" type="ram:ReferencedDocumentType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Transport Contract Document</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PreCarriageLogisticsTransportMovement" type="ram:LogisticsTransportMovementType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Pre-Carriage Transport Movement</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UtilizedLogisticsTransportEquipment" type="ram:LogisticsTransportEquipmentType" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Used Transport Equipment</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="WarehouseStorageTransportEvent" type="ram:TransportEventType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Warehouse Storage Event</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DevanningTransportEvent" type="ram:TransportEventType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Devanning Event</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SpecifiedPeriodType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Period</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="StartDateTime" type="udt:DateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Start Date Time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EndDateTime" type="udt:DateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">End Date Time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SupplyChainConsignmentItemType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Supply Chain Consignment Item</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="SequenceNumeric" type="udt:NumericType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Sequence Number</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TypeCode" type="qdt:GoodsTypeCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Goods Type Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GrossWeightMeasure" type="qdt:WeightUnitMeasureType">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Gross Weight</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NetWeightMeasure" type="udt:MeasureType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Net Weight</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GrossVolumeMeasure" type="udt:MeasureType">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Gross Volume</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NatureIdentificationTransportCargo" type="ram:TransportCargoType">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Cargo Nature Identification</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ApplicableTransportDangerousGoods" type="ram:TransportDangerousGoodsType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Transport Dangerous Goods</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PhysicalLogisticsShippingMarks" type="ram:LogisticsShippingMarksType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Shipping Marks</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AssociatedReferencedLogisticsTransportEquipment" type="ram:ReferencedLogisticsTransportEquipmentType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Associated Transport Equipment</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TransportLogisticsPackage" type="ram:LogisticsPackageType" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Transport Package</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SupplyChainConsignmentType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Supply Chain Consignment</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CustomsID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Customs ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CarrierAcceptanceDateTime" type="udt:DateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Carrier Acceptance Date Time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GrossWeightMeasure" type="qdt:WeightUnitMeasureType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Gross Weight</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NetWeightMeasure" type="udt:MeasureType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Net Weight</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GrossVolumeMeasure" type="qdt:VolumeUnitMeasureType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Gross Volume</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FOBAmount" type="udt:AmountType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">FOB Amount</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ConsignmentItemQuantity" type="udt:QuantityType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Consignment Item Quantity</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PaymentArrangementCode" type="qdt:TransportServicePaymentArrangementCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Payment Arrangement Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ConsignorTradeParty" type="ram:TradePartyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Consignor</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ConsigneeTradeParty" type="ram:TradePartyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Consignee</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CarrierTradeParty" type="ram:TradePartyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Carrier</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DespatchTradeParty" type="ram:TradePartyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Despatch Party</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DeliveryTradeParty" type="ram:TradePartyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Delivery Party</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NotifiedTradeParty" type="ram:TradePartyType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Notified Party</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CarrierAcceptanceLogisticsLocation" type="ram:LogisticsLocationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Carrier Acceptance Location</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ConsigneeReceiptLogisticsLocation" type="ram:LogisticsLocationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Consignee Receipt Location</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TransportContractReferencedDocument" type="ram:ReferencedDocumentType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Transport Contract Document</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IncludedSupplyChainConsignmentItem" type="ram:SupplyChainConsignmentItemType" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Included Consignment Item</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IncludedReferencedSupplyChainConsignment" type="ram:ReferencedSupplyChainConsignmentType" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Included Consignment</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UtilizedLogisticsTransportEquipment" type="ram:LogisticsTransportEquipmentType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Used Transport Equipment</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FinalDestinationTradeCountry" type="ram:TradeCountryType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Final Destination Country</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExportTradeCountry" type="ram:TradeCountryType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Export Country</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ApplicableCrossBorderRegulatoryProcedure" type="ram:CrossBorderRegulatoryProcedureType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Regulatory Procedure</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SupplyChainEventType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Supply Chain Event</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="OccurrenceLogisticsLocation" type="ram:LogisticsLocationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Location</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SupplyChainTradeLineItemType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Supply Chain Trade Line Item</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SequenceNumeric" type="udt:NumericType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Sequence Number</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SpecifiedTradeProduct" type="ram:TradeProductType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Trade Product</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SpecifiedLineTradeAgreement" type="ram:LineTradeAgreementType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Line Trade Agreement</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SpecifiedLineTradeDelivery" type="ram:LineTradeDeliveryType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Line Trade Delivery</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SupplyChainTradeTransactionType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Supply Chain Trade Transaction</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LineItemQuantity" type="udt:QuantityType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Line Item Quantity</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ApplicableHeaderTradeAgreement" type="ram:HeaderTradeAgreementType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Header Trade Agreement</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ApplicableHeaderTradeDelivery" type="ram:HeaderTradeDeliveryType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Header Trade Delivery</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ApplicableHeaderTradeSettlement" type="ram:HeaderTradeSettlementType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Header Trade Settlement</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TradeAddressType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Trade Address</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="PostcodeCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Postcode</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StreetName" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Street Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CityName" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">City Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CountryID" type="qdt:CountryIDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Country Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CountrySubDivisionName" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Country Sub-Division Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TradeContactType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Trade Contact</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="PersonName" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Person Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DepartmentName" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Department Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TelephoneUniversalCommunication" type="ram:UniversalCommunicationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Telephone</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EmailURIUniversalCommunication" type="ram:UniversalCommunicationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Email Address</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TradeCountryType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Trade Country</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="qdt:CountryIDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TradePartyType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Trade Party</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RoleCode" type="qdt:PartyRoleCodeType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Role Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DefinedTradeContact" type="ram:TradeContactType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Defined Contact Details</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostalTradeAddress" type="ram:TradeAddressType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Postal Address</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TelephoneUniversalCommunication" type="ram:UniversalCommunicationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Telephone</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SpecifiedGovernmentRegistration" type="ram:GovernmentRegistrationType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Government Registration</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TradePriceType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Trade Price</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ChargeAmount" type="udt:AmountType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Charge Amount</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TradeProductType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Trade Product</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Description" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Description</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ContentUnitQuantity" type="udt:QuantityType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Content Unit Quantity</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DesignatedProductClassification" type="ram:ProductClassificationType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Classification</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OriginTradeCountry" type="ram:TradeCountryType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Origin Country</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ManufacturerTradeParty" type="ram:TradePartyType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Manufacturer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ApplicableTransportDangerousGoods" type="ram:TransportDangerousGoodsType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Dangerous Goods</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransportCargoType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Transport Cargo</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Identification" type="udt:TextType" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Identification Text</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransportDangerousGoodsType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Transport Dangerous Goods</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="UNDGIdentificationCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">UNDG ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RegulationCode" type="qdt:DangerousGoodsRegulationCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Regulation Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TechnicalName" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Technical Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FlashpointTemperatureMeasurement" type="ram:MeasurementType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Flashpoint Temperature</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransportEventType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Transport Event</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="EstimatedOccurrenceDateTime" type="udt:DateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Estimated Occurrence Date Time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ActualOccurrenceDateTime" type="udt:DateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Actual Occurrence Date Time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ScheduledOccurrenceDateTime" type="udt:DateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Scheduled Occurrence Date Time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OccurrenceLogisticsLocation" type="ram:LogisticsLocationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Occurrence Location</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransportRouteType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Transport Route</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="StatusCode" type="qdt:StatusCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Status Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ItineraryStopTransportEvent" type="ram:TransportEventType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Itinerary Stop Event</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UniversalCommunicationType">
    <xsd:annotation>
      <xsd:documentation gefeg:label="BN/BN">Communication</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="URIID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">URI</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CompleteNumber" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation gefeg:label="BN/BN">Complete Number</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
